<div class="center jumbotron">
    <h1>Welcome</h1>
    <!--<%= link_to 'Diet Recipes', pages_recipes_path %><br><br>-->
    <!--<%= link_to 'Healthy Tips', pages_tips_path %><br><br>-->
    <!--<%= link_to 'BMI Calculate', pages_massCalculate_path %> -->
    <p><%=image_tag("stayhealthy", height: '300', width: '300')%></p>
</div>    
    