<div class="center jumbotron">
    <h1>Diet Recipes</h1>
    <%= link_to 'Breakfast Recipes', root_path %><br><br>
    <%= link_to 'Lunch Recipes', root_path %><br><br>
    <%= link_to 'Dinner Recipes', root_path %>
</div>