<div class="container">
    <footer class="footer">
            <small>
                Copyright © <a href="http://cs.sju.edu/">Saint Joseph's University- Computer sience Graduate Students</a>
            </small>
    </footer>
</div>
